/* Error: $color: theme-color("primary") is not a color.
 *     ,
 * 152 | $link-hover-color:          darken($link-color, 15%) !default;
 *     |                             ^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   public/css/_variables.scss 152:29  @import
 *   public/css/bootstrap.scss 7:9      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $color: theme-color("primary") is not a color.\a     \2577 \a 152 \2502  $link-hover-color:          darken($link-color, 15%) !default;\a     \2502                              ^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   public/css/_variables.scss 152:29  @import\a   public/css/bootstrap.scss 7:9      root stylesheet';
}
